* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #11194C; 

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #000000;
}

.navbar .logo {
  font-size: 24px;
  color:000;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .user-icon {
  width: 30px;
  height: 30px;
  background-color: #EB5C24;
  border-radius: 50%;
}

.navbar .menu a {
  margin-left: 1rem;
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .menu a:hover {
  color: #EB5C24;
}