/* Barra de pesquisa */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search-bar button {
  padding: 10px;
  background-color: #EB5C24; 
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: #fff;
}

.course-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.course-card {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card img {
  width: 100%;
  height: 150px;
  background-color: #ccc;
  border-radius: 4px;
}

.course-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #11194C;
}

.course-description {
  font-size: 12px;
  color: #888;
}

