<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/aulas.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navBar.css">
  <title>EDURK+</title>
</head>
<body>

    <div class="navbar">
        <div class="logo" onclick="window.location.href='/view/pagina-inicial'">EDURK+</div>
        <div class="menu">
          <a href="/view/pagina-inicial">Cursos</a>
          <a href="#">Fórum</a>
          <a href="#">Favoritos</a>
        </div>
        <div class="user-icon" onclick="window.location.href='/view/profile'"></div>
    </div>

  <div class="course-header">
    <a onclick="window.location.href='view/curso'" class="back-button">Voltar</a>
    <span class="course-title">Aulas</span>
  </div>

    <div class="course-gallery">
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
          <img src="#" alt="Imagem do aula">
            <div class="course-title">Título da Aula</div>
            <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
          <img src="#" alt="Imagem do aula">
            <div class="course-title">Título da Aula</div>
            <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
        <div class="course-card" onclick="window.location.href='/view/aula-especifica'">
            <img src="#" alt="Imagem do aula">
              <div class="course-title">Título da Aula</div>
              <div class="course-description">BREVE DESCRIÇÃO</div>
        </div>
    </div>

  <div class="footer">© 2024 por Grupo 8.</p></n>Rua Bione, Cais do Apolo, 77, Recife - PE, 50030-390 </div>

</body>
</html>
