<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/curso.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/navBar.css">
  <title>EDURK+</title>
</head>
<body>

  <div class="navbar">
    <div class="logo" onclick="window.location.href='/view/pagina-inicial'">EDURK+</div>
    <div class="menu">
      <a href="/view/pagina-inicial">Cursos</a>
      <a href="#">Fórum</a>
      <a href="#">Favoritos</a>
    </div>
    <div class="user-icon" onclick="window.location.href='/view/profile'"></div>
  </div>

  <div class="course-header">
    <button onclick="window.location.href='/view/pagina-inicial'" class="back-button">Voltar</button>
    <span class="course-title">Nome do curso</span>
  </div>
  <div class="course-container">
    <div class="course-image">
      <img src="#" alt="Imagem do curso" class="image-placeholder">
    </div>

    <div class="course-info">
      <h1>Nome do curso</h1>
      <div class="progress-bar">
        <span>60%</span>
      </div>
    </div>

    <div class="course-description">
      <p>Descrição do curso linha 1</p>
      <p>Descrição do curso linha 2</p>
      <p>Descrição do curso linha 3</p>
    </div>

    <div class="action-button">
      <button onclick="window.location.href='/view/aulas'">Começar curso</button>
    </div>
  </div>

  <div class="footer">© 2024 por Grupo 8.</p></n>Rua Bione, Cais do Apolo, 77, Recife - PE, 50030-390 </div>

</body>
</html>
