<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Edurk</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">
    <div class="left">
      <img src="/images/logo-edurk.png" alt="Logo Edurk">
      <br>
      <h2>Bem-vindo!</h2>
      <p>Acesse sua conta agora mesmo.</p>
      <a href="/view/index" class="btn">Entrar</a>
      <a class="link">Esqueci minha senha</a>
    </div>
    <div class="right">
      <h2>Crie sua conta</h2>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Nome">
        </div>
        <div class="form-group">
          <input type="email" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Senha">
        </div>
        <a href="/view/cadastro" class="btn">Cadastrar</a>
      </form>
    </div>
  </div>
</body>
</html>
