<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/paginaInicial.css">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/footer.css">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/navBar.css">
  <title>EDURK+</title>
</head>
<body>

  <div class="navbar">
    <div class="logo" onclick="window.location.href='/rea4e/src/main/resources/templates/paginaInicial.html'">EDURK+</div>
    <div class="menu">
      <a href="/rea4e/src/main/resources/templates/paginaInicial.html">Cursos</a>
      <a href="#">Fórum</a>
      <a href="#">Favoritos</a>
    </div>
    <div class="user-icon" onclick="window.location.href='/rea4e/src/main/resources/templates/profile.html'"></div>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Pesquisa">
    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg></button>
  </div>

  <div class="course-gallery">
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
    <div class="course-card" onclick="window.location.href='/rea4e/src/main/resources/templates/curso.html'">
      <img src="#" alt="Imagem do curso">
      <div class="course-title">CURSO XYZ</div>
      <div class="course-description">BREVE DESCRIÇÃO</div>
    </div>
  </div>
  
  <div class="footer">
    © 2024 por Grupo 8. Rua Bione, Cais do Apolo, 77, Recife - PE, 50030-390
  </div>

</body>
</html>
