<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/profile.css">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/footer.css">
  <link rel="stylesheet" href="/rea4e/src/main/resources/static/css/navBar.css">
  <title>EDURK+</title>
</head>
<body>

  <div class="navbar">
    <div class="logo" onclick="window.location.href='/rea4e/src/main/resources/templates/paginaInicial.html'">EDURK+</div>
    <div class="menu">
      <a href="/rea4e/src/main/resources/templates/paginaInicial.html">Cursos</a>
      <a href="#">Fórum</a>
      <a href="#">Favoritos</a>
    </div>
    <div class="user-icon" onclick="window.location.href='/rea4e/src/main/resources/templates/profile.html'"></div>
  </div>

  <div class="profile-container">
    <div class="profile-image">
      <img src="#" class="image-placeholder">
    </div>
    <div class="nome">Nome do aluno</div>
    <div class="nome">ID</div>
    <div class="nome">Data de Nascimento</div>
  </div>

  <div class="footer">
    © 2024 por Grupo 8. Rua Bione, Cais do Apolo, 77, Recife - PE, 50030-390
  </div>

</body>
</html>
